---
import Layout from "./Layout.astro";
import SectionBar from "../components/SectionBar.astro";
import AboutMeWidget from "../components/AboutMeWidget.astro";
import DiscordServerBtn from "../components/DiscordServerBtn.astro";
const { frontmatter } = Astro.props;
---

<Layout title=`${frontmatter.title} - AN Blog`>
  <main class="text-justify lg:flex justify-center lg:space-x-24">
    <!-- <aside class="hidden md:w-1/3 lg:w-1/4 py-4 md:block"> -->
    <SectionBar links={frontmatter.links} classes=" lg:hidden block" />
    <div class="lg:w-[800px]">
      <div>
        <div class="mb-8">
          <h1 class="font-bold">{frontmatter.title}</h1>
          <div class="text-xs">
            <span class="text-[25px]">{frontmatter.pubDate.slice(0, 10)}</span> |
            <span class="text-[25px]">Escrito por: {frontmatter.author}</span>
          </div>
          <p class="md:text-[23px] text-[20px]">
            <em>{frontmatter.description}</em>
          </p>
        </div>
      </div>
      <!-- <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->

      <div class="md:text-[24px] text-[16px]">
        <slot />
      </div>
    </div>
    <SectionBar links={frontmatter.links} classes="hidden lg:block" />
    <div class=" mt-7 border border-white rounded p-7 lg:hidden block">
      <AboutMeWidget classes="text-[19px]"  />
    </div>
    <div class="mt-12 lg:hidden block text-xl">
      <DiscordServerBtn title="Entre no meu servidor no Discord!" classes="w-full"/>
    </div>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: white;
    line-height: 1.6;
  }
  p {
    margin-bottom: 1rem;
    text-align: justify;
  }
</style>
